body {
	font-family: 'Raleway', sans-serif;
}

.entree {
	padding: 10px 20px;
	position: relative;
}

.heading {
	text-align: center;
	font-size: 5em;
	margin: auto;
}

.entree-title {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.25em;
}

.title {
	margin: auto;
}