/**/

body {
	font-family: 'Allura', cursive;
}

.heading {
	text-align: center;
	font-size: 5em;
	margin: 1.9375rem auto;
}

.entree {
	border: 3px solid #000;
	background-color: #aaa;
	height: 350px;
	margin: 2em 4em;
	padding: 0 30px 10px;
	position: relative;
}

.entree-title {
	border: 3px solid #000;
	font-size: 3em;
	margin-top: 0;
	position: absolute;
	top: -3px;
	right: -3px;
	text-align: center;
	width: 300px;
}

.chicken .entree-title{
	background-color: #d49898;
}

.beef .entree-title{
	background-color: #bf4343;
}

.sushi .entree-title{
	background-color: #e3cf98;
}

.entree p {
	margin-top: 103px;
	font-size: 2.3em;
	font-family: 'Fresca', sans-serif;
}

@media (max-width: 767px) {
	.entree {
		padding: 20px;
	}
	.entree p {
		font-size: 4vw;
	}
	.heading {
		font-size: 13vw;
	}
	.entry-title {
		font-size: 7vw;
	}
}

@media (min-width: 768px) and (max-width: 991) {

}

@media (min-width: 1200px) {

}